{
border: 2px solid black;
}
body {
  color: black;
  text-align: center;
  background-color: #FFE5B4;

}
.idea-box {
  background-color:white;
  padding: 0px;
  padding-left: 0;
  padding-right: 0;
}
h1 {
  text-align: center;
  color: black;
}

h2 {
  color: black;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}
p {
  border: 2px solid black;
  padding: 10px
