{
border: 2px solid black;
}
body {
  color: black;
  text-align: center;
  background-color: #FFE5B4;

}
.idea-box {
  background-color:white;
  padding: 0px;
  padding-left: 0;
  padding-right: 0;
}
h1 {
  text-align: center;
  color: black;
}

h2 {
  color: black;
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
}


.nav-bar a {
  color: hotpink;
  display: inline-block;
  background-color: #FF9900;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  padding: 20px;
  width: 150px;
  margin: 10px;
}
.nav-bar {
  text-align: center;
}
.nav-bar a:hover, .nav-bar a:active {
    background-color: #FF0066;
  }
p {
  border: 2px solid black;
  padding: 10px
}
.signup {
color:purple;

}
